
.DS_Store
ImageProcessingCrashCourse/Python/1_gettingStarted/.ipynb_checkpoints/GettingStarted-checkpoint.ipynb
ImageProcessingCrashCourse/Python/1_gettingStarted/.ipynb_checkpoints/GettingStarted-checkpoint.ipynb
